<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>{{titulo_body}}</h1>
      <p>{{titulo_body}}</p>
      <table>
        <thead>
          <tr>
            <th>Seção (mm²)</th>
            <th>Ámperes (A)</th>
          </tr>
        </thead>
        {% for key, value in tabela.items() %}
        <tr>
          <td>{{key}}</td>
          <td>{{value}}</td>
        </tr>

        {% endfor %}
      </table>
    </div>
  </body>
</html>